[[source]]
url = "https://pypi.python.org/simple/"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://devpi-backup.int.everest-shared.aws.mintel.com/simple"
verify_ssl = true
name = "devpi"

[requires]
python_version = "3.6"

[packages]
awscli = "*"
aws-sso = {version = "*", index="devpi"}
backoff = "*"
devpi-client = "*"
elasticsearch-dsl = "*"
everest-elasticsearch-dsl = {version="*", index="devpi"}
#everest-devops = {version = "*", index="devpi"}
lpipe = "*"
lxml = "*"
python-dateutil = "*"
requests = "*"
tqdm = "*"
