[[source]]
url = "https://pypi.python.org/simple/"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://readonly:readonly@devpi.int.everest-shared.aws.mintel.com/everest/prod/+simple/"
verify_ssl = true
name = "devpi"

[requires]
python_version = "3.6"

[packages]
awscli = "*"
aws-sso = {version = "*", index="devpi"}
devpi-client = "*"
elasticsearch-dsl = "*"
#everest-devops = {version = "*", index="devpi"}
lxml = "*"
requests = "*"
